body{
    
    background-color: lightseagreen;

}

h1{
    font-family: monospace;
    text-align: center;
}


.display-inline{
    display: inline;
    
}

.img{
    width: 600px;
    height: 600px;

}

.img-padding{
    padding: 15px;
    background-color:whitesmoke;

}

.img-border{
    border:10px solid palevioletred;
}

.img-margin{
    margin: 25px;

}




